body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#intro-container, #quiz-container {
    text-align: left;
    background-color: #2d2d2d;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
    width: 90%;
    height: 90%;
    max-width: 1000px;
}

#question-header {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#difficulty {
    width: fit-content;
    border: #1a1a1a 2px solid;
    font-size: 0.9rem;
    background-color: #ffffff;
    color: #ff4757;
    border-radius: 5px;
    text-transform: uppercase;
}

#options {
    margin: 20px 0;
    text-align: left;
    background: #3d3d3d;
    padding: 15px;
    border-radius: 8px;
    min-height: 200px;
}

.option-label {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 85%;
    transition: background 0.3s;
}

.option-label:hover {
    background: #4a4a4a;
}

#actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}


#loading-text {
    opacity: 0.8;
    background-color: rgb(244, 247, 249);
    border: #1a1a1a 2px solid;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    font-size: 1.5rem;
    color: rgb(108, 75, 32);
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s, background 0.3s;
}

#start-game, #submit-answer {
    background-color: #ff4757;
    color: white;
}

#pass-button {
    background-color: #5352ed;
    color: white;
}

button:hover {
    filter: brightness(1.2);
}

button:active {
    transform: scale(0.95);
}

#timer-container {
    margin-top: 20px;
    border-top: 2px solid #3d3d3d;
    padding-top: 10px;
}

#timer {
    color: #ffa502;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

#blast {
    font-size: 4rem;
    color: #ff4757;
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}